<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : EBookStore This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-screen">
    <ion-label class="title">Create New Password 🔐</ion-label>
    <ion-label class="sub-title">Enter your new password. If you forget it. then you have to do forgor
      password.</ion-label>

    <ion-item lines="none" class="item-content">
      <ion-label position="stacked" class="stack-lbl">Password</ion-label>
      <ion-input placeholder="Password" [type]="passwordView == false ? 'password':'text'"></ion-input>
      <ion-icon slot="end" [name]="passwordView == false ? 'eye-off-outline':'eye-outline'" color="primary"
        (click)="changePasswordViews()"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content">
      <ion-label position="stacked" class="stack-lbl">Confirm Password</ion-label>
      <ion-input placeholder="Confirm Password" [type]="passwordView == false ? 'password':'text'"></ion-input>
      <ion-icon slot="end" [name]="passwordView == false ? 'eye-off-outline':'eye-outline'" color="primary"
        (click)="changePasswordViews()"></ion-icon>
    </ion-item>

    <ion-item lines="none" class=check-item>
      <ion-label class="lbl">Remember me </ion-label>
      <ion-checkbox mode="md" slot="start"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" shape="round" color="primary" (click)="onNext()">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>