<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>BookStore</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-section">
    <ion-label class="section-title">Actions</ion-label>

    <ion-button expand="block" class="custom-button" [ngStyle]="{'--background': '#507CF8', 'margin-bottom': '20px'}" (click)="formBooks()">
      <ion-icon slot="start" name="add-circle-outline" color="light"></ion-icon>
      <ion-label>Add Book</ion-label>
    </ion-button>

    <ion-button expand="block" class="custom-button" [ngStyle]="{'--background': '#F66780', 'margin-bottom': '20px'}">
      <ion-icon slot="start" name="heart-outline" color="light"></ion-icon>
      <ion-label>Liked Books</ion-label>
    </ion-button>

    <ion-button expand="block" class="custom-button" [ngStyle]="{'--background': '#40CC8E', 'margin-bottom': '20px'}" (click)="redirectionProfile()">
      <ion-icon slot="start" name="person-outline" color="light"></ion-icon>
      <ion-label>View Profile</ion-label>
    </ion-button>

    <ion-button expand="block" class="custom-button" [ngStyle]="{'--background': '#FFA500', 'margin-bottom': '20px'}">
      <ion-icon slot="start" name="cash-outline" color="light"></ion-icon>
      <ion-label>My Books for Exchanges</ion-label>
    </ion-button>

    <ion-button expand="block" class="custom-button" [ngStyle]="{'--background': '#8A2BE2', 'margin-bottom': '10px'}">
      <ion-icon slot="start" name="swap-horizontal-outline" color="light"></ion-icon>
      <ion-label>My Exchanges</ion-label>
    </ion-button>
  </div>
</ion-content>
